.perfil-usuario .menu-perfil ul {
    display: flex;
    list-style: none;
    margin-left: calc(200px + 8rem);
    width: calc(100% - 200px - 8rem);
}
.perfil-usuario .menu-perfil ul li {
    margin-right: 1rem;
}
.perfil-usuario .menu-perfil a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: all ease-in 100ms;
}
.perfil-usuario .menu-perfil a:hover {
    background-color: #4CB0C6;
    color: #fff;
}
.perfil-usuario .icono-perfil {
    display: none;
    margin-right: .75rem;
}
@media (max-width: 780px) {
    .perfil-usuario .contenedor-perfil {
        width: 100%;
    }
    .perfil-usuario .avatar-perfil {
        left: calc(50% - 115px)
    }
    .perfil-usuario .datos-perfil {
        bottom: 200px;
        left: 0;
        width: 100%;
        padding: 15px;
        text-align: center;
    }
    .perfil-usuario .bio-usuario {
        font-size: 1em;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .perfil-usuario .titulo-usuario {
        font-size: 2.1rem;
    }
    .perfil-usuario .portada-perfil {
        height: 28rem;
    }
    .perfil-usuario .menu-perfil ul {
        flex-direction: column;
    }
    .perfil-usuario .lista-perfil {
        display: block;
    }
    .perfil-usuario .menu-perfil {
        margin-top: 2rem;
    }
    .perfil-usuario .menu-perfil ul {
        display: flex;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2.5rem;
        width: 70%;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 0 12px 2px rgba(0, 0, 0, .1);
    }
    .perfil-usuario .icono-perfil {
        display: inline-block;
    }
}
.productos {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.producto-card {
    border: 1px solid #d8b6b6;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 40px);
    max-width: 300px; 
    box-sizing: border-box; 
    background-color: #f9f9f9;
}
.producto-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.producto-card p {
    margin-bottom: 5px;
}
.producto-card button {
    display: block;
    margin-top: 10px;
}
.producto-card:nth-child(3n) {
    margin-right: 20px;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}
.producto-card {
    border: 1px solid #d8b6b6;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 40px);
    max-width: 300px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}
.producto-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.producto-card p {
    margin-bottom: 5px;
}
.producto-card button {
    display: block;
    margin-top: 10px;
}
.producto-card:nth-child(3n) {
    margin-right: 20px;
}