<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Navbar</title>
</head>
<body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <!-- Logo -->
            <a class="navbar-brand" href="/">
                <strong>CAMBALACHES_ADMIN</strong>
            </a>
            <!-- Botones -->
            <div class="d-flex">          
                <a href="/adminEstadisticas" class="btn btn-secondary estadisticas-btn mx-2">Estadisticas</a>
                <a href="/useradmin" class="btn btn-secondary editar-usuarios-btn mx-2">Editar usuarios</a>
                <a href="/editarproductos" class="btn btn-secondary editar-productos-btn mx-2">Editar productos</a>
                <a href="/navegar" class="btn btn-primary perfil-btn mx-2">
                    <i class="fa fa-user-circle" aria-hidden="true"></i> Perfil
                </a>  
                <a href="/" class="btn btn-success cerrar-btn mx-2"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar</a>
            </div>
            <!-- Botones de navegación -->
        </div>
    </nav>

    <!-- Título grande -->
    <h1 style="text-align: center; font-size: 36px; margin-top: 20px;">BIENVENIDOS ADMINISTRADORES</h1>
<!-- Integrantes del Proyecto con Imágenes -->
<div class="section">
   
    <div class="team">
        <div class="team-member">
            <img src="/assets/nicolas.png" alt="Nicolas Pachon" class="nicolas">
            <p>Nicolas Pachon</p>
        </div>
        <div class="team-member">
            <img src="/assets/paez.jpg" alt="Sergio Paez" class="sergio">
            <p>Sergio Paez</p>
        </div>
        <div class="team-member">
            <img src="/assets/sebastian.jpg" alt="Sebastian Gonzalez" class="sebastian">
            <p>Sebastian Gonzalez</p>
        </div>
    </div>
</div>

<footer>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <div class="footer-content">
        <h3>CAMBALACHES</h3>
        <p>La moda se transforma en expresión y la diversidad es la clave de tu armario.</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2024 codeOpacity. designed by <span>CAMBALACHES</span></p>
    </div>
</footer>

</body>
</html>

