/* Header styles */
.header {
    position: relative;
    background-color: rgba(235, 227, 227, 0.8);
    box-shadow: 0 2px 4px rgba(6, 3, 219, 0.1);
    padding: 20px 0; /* Aumentar el espacio en el encabezado */
    z-index: 2; /* Asegurar que el encabezado esté por encima del fondo */
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    margin-right: 20px;
}

.header a:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #f44336;
    position: absolute;
    left: 0;
    bottom: -6px;
    opacity: 0;
    transition: all 0.3s ease;
}

.header a:hover:after {
    opacity: 1;
}

/* Estilos para el contenedor de fondo */
.background-container {
    position: relative;
    z-index: 1;
    overflow: hidden; /* Evita que el contenido se desborde */
}

body {
    padding-top: 60px; /* Ajustar el espacio para el header */
    margin: 0;
    background-image: url('/assets/Chica_Chaqueta_Azul.png');
    background-size: cover;
    background-repeat: no-repeat;
    background: position 2px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    min-height: 100vh; /* Para ocupar toda la altura de la pantalla */
}

/* Estilos para los productos */
.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; /* Alinea los productos hacia la derecha */
    margin-bottom: 20px; /* Espacio entre filas de productos */
}

/* Estilos para las tarjetas de productos */
.producto-card {
    width: 200px; /* Tamaño fijo para todas las tarjetas de productos */
    border: 1px solid #b4bd96;
    border-radius: 8px;
    padding: 10px;
    background-color: #c6a2a2b0;
    text-align: center;
    margin-right: 20px; /* Espacio entre tarjetas de productos */
    display: flex;
    flex-direction: column; /* Para alinear verticalmente */
    justify-content: center; /* Para alinear verticalmente */
}

/* Estilos para las imágenes de los productos */
.producto-card img {
    width: 100%;
    height: 150px; /* Establece la altura deseada para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
    border-radius: 8px;
    margin-bottom: 10px;
}


/* Estilos para la información del producto */
.producto-card p {
    margin: 5px 0;
    font-size: 16px;
}

/* Estilos para el banner de publicidad */
.ad-banner {
    max-width: 100%; /* Ajusta el ancho máximo del banner */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    width: 100%; /* Ajusta el ancho del contenedor al 100% */
}

/* Estilos para la imagen dentro del banner */
.ad-banner img {
    width: 90%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Ajusta la altura automáticamente según el ancho */
    display: block; /* Asegura que la imagen se muestre como un bloque */
}

.ad-banner {
    background-color: #eaeaea; /* Color de fondo del banner */
    color: #333; /* Color del texto */
    padding: 20px; /* Espaciado interno del banner */
    position: fixed; /* Posición fija para que se mantenga en la pantalla */
    left: 0; /* Alineado a la izquierda */
    top: 50%; /* Alineado verticalmente en el centro */
    transform: translateY(-50%); /* Centrar verticalmente */
    width: 200px; /* Ancho del banner */
    z-index: 999; /* Z-index alto para estar por encima de otros elementos */
}

.btn-add-to-cart {
    margin-top: 20px;
    background-color: #000;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-add-to-cart:hover {
    background-color: #333;
}

/* Estilos para los productos cargados en la vista del home */
.home-producto-card {
    width: 200px; /* Tamaño fijo para todas las tarjetas de productos */
    border: 1px solid #b4bd96;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

/* Estilos para las imágenes de los productos cargados en la vista del home */
.home-producto-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Estilos para la información del producto cargado en la vista del home */
.home-producto-card p {
    margin: 5px 0;
    font-size: 16px;
}

/* Estilos para el botón agregar al carrito cargado en la vista del home */
.home-btn-add-to-cart {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-btn-add-to-cart:hover {
    background-color: #333;
}

/* Alineación de los productos hacia la derecha */
.products-container {
    justify-content: flex-end;
}

